body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-image: url('top_banner.png');
    background-repeat: repeat-x;
    z-index: -1;
}

body {
    background-color: #F2E8CF;
}

h1 {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size:38px;
    margin-left: 162px;
    margin-right: 465px;
}

h2 {
    color: #BC4749;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

p {
    font-size: 32px;
    color: #386641;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 74px;
}

nav {
    display: flex;    
}

nav p {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 115px;
}

.logo {
    margin-left: 156px;
    margin-right: 121px;
    margin-top: 55px;
    width: 226px;
    height: 151px;
}

.jointheclub {
    background: #BC4749;
    color: #F2E8CF;
    width: 205px;
    height: 54px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-top: 100px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.jointheclub:hover {
    background-color: #A63F41;
    box-shadow: 4px 8px 12px rgba (0, 0, 0, 0.26)
}

.squirrel {
    list-style-image: url('squirrel.png');
    margin-left: 156px;
}

.squirrelli {
    color: #386641;
    font-family: 'Inter', sans-serif;  
    font-size: 32px;
    padding-left: 15px;
}

.augusta {
    position: relative;
}

.augusta-floating {
    position: absolute;
    top: -20px;
    right: 200px;
    z-index: 1;
}


