body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-image: url('top_banner.png');
    background-repeat: repeat-x;
    z-index: -1;
}

h1 {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size:38px;
    margin-left: 162px;
    margin-right: 465px;
}

h2 {
    color: #BC4749;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
