body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-image: url('top_banner.png');
    background-repeat: repeat-x;
    z-index: -1;
}

body {
    background-color: #F2E8CF;
}

h1 {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size:38px;
    margin-left: 162px;
    margin-right: 565px;
}

h2 {
    color: #BC4749;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-top: 75px;
}

p {
    font-size: 32px;
    color: #386641;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;    
}

nav p {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 115px;
}

.logo {
    margin-left: 156px;
    margin-right: 121px;
    margin-top: 55px;
    width: 226px;
    height: 151px;
}

button {
    background: #BC4749;
    color: #F2E8CF;
    width: 205px;
    height: 54px;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    font-size: 20px;
}

.jointheclub {
    margin-top: 100px;
}

.jointheclub:hover, ul li a:hover {
    background-color: #A63F41;
    box-shadow: 4px 8px 12px rgba (0, 0, 0, 0.26)
}

.squirrel {
    list-style-image: url('squirrel.png');
    margin-left: 156px;
}

.squirrelli {
    color: #386641;
    font-family: 'Inter', sans-serif;  
    font-size: 32px;
    padding-left: 15px;
}

.augusta {
    position: relative;
}

.augusta-floating {
    position: absolute;
    top: 175px;
    left: 725px;
    z-index: 1;
}

.memberships {
    margin-top: 135px;
}

.membershiptext {
    margin-top: 25px;
    margin-left: 204px;
    margin-right: 204px;
}

.bottomlist {
    margin-left: 254px;
    margin-right: 254px;
}

ul li {
    font-size:32px;
    color: #386641;
    font-family: 'Inter', sans-serif;
}

.card-list {
    list-style: none; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

.card {
    background-color: #DBD0B5;
    padding: 20px;
    width:460px;
    height:248px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green-card {
    background-color: #386641;
    padding: 20px;
    width:460px;
    height:248px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul h3 {
    font-size:38px;
    color: #386641;
    font-family: 'Inter', sans-serif;
}

.card h3, .card p, .green-card h3, .green-card p {
    margin: 0 0 10px 0
}

.card p:last-child {
    margin-bottom: 0;
}

.card-button {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

ul li a {
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none; 
    background-color: #BC4749; 
    color: #F2E8CF;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 205px;
    height: 54px;
    outline: none;
    border: none;
    line-height: 54px;
}

.card-footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.card-footer h4 {
    margin: 0;
    font-weight: bold;
    line-height: 54px;
}

.card h3, .card p {
    margin: 0 0 10px 0;
}

.card :last-child {
    margin-bottom: 0;
}

card-content {
    flex-grow: 0;
}

green-card-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.white-text-big {
    font-size:32px;
    color: #F2E8CF;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.white-text-small {
    font-size:24px;
    color: #DBD0B5;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
}

ol li {
    font-size:32px;
    color: #386641;
    font-family: 'Inter', sans-serif;
    margin-left: 124px;
    margin-right: 124px;
}