body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-image: url('top_banner.png');
    background-repeat: repeat-x;
    z-index: -1;
}

li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px; 
  background-image: url('squirrel.png'); 
  background-size: contain; 
  position: absolute; 
  left: 0;
  top: 50%; 
  transform: translateY(-50%); 
}

body {
    background-color: #F2E8CF;
}

h1 {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size:38px;
    margin-left: 162px;
    margin-right: 465px;
}

h2 {
    color: #BC4749;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

nav {
    display: flex;    
}

nav p {
    color: #386641;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 115px;
}

.logo {
    margin-left: 156px;
    margin-right: 121px;
    margin-top: 55px;
    width: 226px;
    height: 151px;
}

li {
    color: #386641;
    font-family: 'Inter', sans-serif;  
    font-size: 32px;
}

.redbutton {
    background: #BC4749;
    color: #F2E8CF;
    length: 205px;
    height: 54px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}